rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // Tasks collection
    match /tasks/{taskId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }

    // TaskHistories collection
    match /taskHistories/{historyId} {
      // Allow read/delete if the user owns the parent task.
      allow read, delete: if request.auth != null && get(/databases/$(database)/documents/tasks/$(resource.data.taskId)).data.userId == request.auth.uid;
      // Allow create if the user is authenticated. The connection to a valid task is checked on read/delete.
      allow create: if request.auth != null;
    }
  }
}
